{% extends "tableLayout.html" %}
{% block header %} 
    <title>{{ build_id1 }} vs. {{ build_id2 }}</title>
{% end %}
{% block body %}
    <h3>Coverage Comparison</h3>
    <h4>{{ build_id1 }} vs. {{ build_id2 }}</h4>

  <div class="main">
   <div class="table-responsive">
    <table class="table table-striped">
     <thead>
      <tr>
       <th> </th>
       <th colspan=3 data-toggle="tooltip" title="{{ build_id1 }}" >Build A</th>
       <th colspan=3 data-toggle="tooltip" title="{{ build_id2 }}">Build B</th>
       <th> </th>
      </tr>
      <tr>
       <th>Directory</th>
       <th>Lines</th>
       <th>Covered</th>
       <th>Coverage %</th>
       <th>Lines</th>
       <th>Covered</th>
       <th>Coverage %</th>
       <th>Coverage Difference</th>
      </tr>
     </thead>
     <tbody>
      {% for key in sorted(results.keys()) %}
       {% if "highlight" in results[key] %}
       <tr class="{{ results[key]["highlight"] }}">
       {% else %}
       <tr>
       {% end %}
           <td><a href="/compare?build_id1={{ url_escape(build_id1) }}&build_id2={{ url_escape(build_id2) }}&dir={{url_escape(key)}}">{{ key }}</a></td>
        <td>{{ results[key]["line_count1"] }}</td>
        <td>{{ results[key]["line_cov_count1"] }}</td>
        <td>{{ results[key]["line_cov_percentage1"] }}</td>
        <td>{{ results[key]["line_count2"] }}</td>
        <td>{{ results[key]["line_cov_count2"] }}</td>
        <td>{{ results[key]["line_cov_percentage2"] }}</td>
        <td>{{ results[key]["coverage_comparison"] }}</td>
       </tr>
      {% end %}
     </tbody>
    </table>
   </div>
{% end %}
