{% extends "tableLayout.html" %}
{% block header %}
   <title>Coverage Data For {{ additional_info['directory'] }}</title>
{% end %}
{% block body %}
  <div class="main">
   <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
       <th><h2>Directory</h2></th>
       <th><h2>{{ additional_info['directory'] }}</h2></th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>Build ID</td>
       <td>{{ additional_info['build_id'] }}</td>
      </tr>
      <tr>
       <td>Git hash</td>
       <td>{{ additional_info['git_hash'] }}</td>
      </tr>
      <tr>
       <td>Branch</td>
       <td>{{ additional_info['branch'] }}</td>
      </tr>
      {% if 'test_name' in additional_info %}
      <tr>
       <td>Test name</td>
       <td>{{ additional_info['test_name'] }}</td>
      </tr>
      {% end %}
     </tbody>
    </table>
   </div>
   <div class="table-responsive">
    <table class="table table-striped">
     <thead>
      <tr>
      <th>File</th>
      <th>Line Coverage</th>
      <th>Line Coverage %</th>
      <th>Function Coverage</th>
      <th>Function Coverage %</th>
      </tr>
     </thead>
     <tbody>
      {% for key in sorted(results.keys()) %}
      <tr>
          <td><a href="/data?build_id={{ url_escape(additional_info['build_id']) }}&git_hash={{ url_escape(additional_info['git_hash']) }}&file={{ url_escape(key) }}{% if 'test_name' in additional_info %}&test_name={{ url_escape(additional_info['test_name'])}}{% end %}">{{ key[additional_info['clip']:] }}</a></td>
       {% if 'line_count' in results[key] %}
       <td>{{ results[key]['line_cov_count'] }}/{{ results[key]['line_count'] }}</td>
       <td>{{ results[key]['line_cov_percentage'] }}</td>
       {% else %}
       <td>0 / 0</td>
       <td>0.0</td>
       {% end %}
       {% if 'func_count' in results[key] %}
       <td>{{ results[key]['func_cov_count'] }}/{{ results[key]['func_count'] }}</td>
       <td>{{ results[key]['func_cov_percentage'] }}</td>
       {% else %}
       <td>0 / 0</td>
       <td>0.0</td>
       {% end %}
      </tr> 
      {% end %}
     </tbody>
    </table>
{% end %}
