{% extends "tableLayout.html" %}
{% block header %}
   <title>Coverage Data For {{ directory }}</title>
{% end %}
{% block body %}
  <div class="main">
   <h1 class="page-header">Coverage Results for {{ directory }}</h1>
   <div class="table-responsive">
    <table class="table table-striped">
     <thead>
      <tr>
      <th>File</th>
      <th>Line Coverage</th>
      <th>Line Coverage %</th>
      <th>Function Coverage</th>
      <th>Function Coverage %</th>
      </tr>
     </thead>
     <tbody>
      {% for key in sorted(results.keys()) %}
      <tr>
       <td><a href="/data?buildID={{ buildID }}&gitHash={{ gitHash }}&file={{ url_escape(key) }}">{{ key }}</a></td>
       {% if 'lineCount' in results[key] %}
       <td>{{ results[key]['lineCovCount'] }}/{{ results[key]['lineCount'] }}</td>
       <td>{{ results[key]['lineCovPercentage'] }}</td>
       {% else %}
       <td>0 / 0</td>
       <td>0.0</td>
       {% end %}
       {% if 'funcCount' in results[key] %}
       <td>{{ results[key]['funcCovCount'] }}/{{ results[key]['funcCount'] }}</td>
       <td>{{ results[key]['funcCovPercentage'] }}</td>
       {% else %}
       <td>0 / 0</td>
       <td>0.0</td>
       {% end %}
      </tr> 
      {% end %}
     </tbody>
    </table>
{% end %}
