{% extends "tableLayout.html" %}
{% block header %}
   <title>{{ result['_id']['buildID'] }}, {{ result['_id']['gitHash'] }}</title>
{% end %}
{% block body %}
   <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
       <th><h2>Directory</h2></th>
       <th><h2>src/mongo/</h2></th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>Build ID</td>
       <td>{{ result['_id']['buildID'] }}</td>
      </tr>
      <tr>
       <td>Git hash</td>
       <td>{{ result['_id']['gitHash'] }}</td>
      </tr>
      <tr>
       <td>Branch</td>
       <td>{{ branch }}</td>
      </tr>
     </tbody>
    </table>
   </div>
  <div class="main">
   <div class="table-responsive">
    <table class="table table-striped">
     <thead>
      <tr>
      <th>Directory</th>
      <th>Line Coverage</th>
      <th>Line Coverage %</th>
      <th>Function Coverage</th>
      <th>Function Coverage %</th>
      </tr>
     </thead>
     <tbody>
      {% for dirResult in dirResults %}
      <tr>
       <td><a href="/data?buildID={{ result['_id']['buildID'] }}&gitHash={{ result['_id']['gitHash'] }}&dir={{ url_escape(dirResult['_id']['dir']) }}">{{ dirResult['_id']['dir'][clip:] }}</a></td>
       {% if 'lineCount' in dirResult %}
       <td>{{ dirResult['lineCovCount'] }}/{{ dirResult['lineCount'] }}</td>
       <td>{{ dirResult['lineCovPercentage'] }}</td>
       {% else %}
       <td>0 / 0</td> 
       <td>0.0</td>
       {% end %}
       {% if 'funcCount' in dirResult %}
       <td>{{ dirResult['funcCovCount'] }}/{{ dirResult['funcCount'] }}</td>
       <td>{{ dirResult['funcCovPercentage'] }}</td>
       {% else %}
       <td>0 / 0</td>
       <td>0.0</td>
       {% end %}
      </tr> 
      {% end %}
     </tbody>
    </table>
   </div>
{% end %}
