{% extends "tableLayout.html" %}
{% block header %}
   <title>{{ additionalInfo['buildID'] }}, {{ additionalInfo['gitHash'] }}</title>
{% end %}
{% block body %}
   <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
       <th><h2>Directory</h2></th>
       <th><h2>src/mongo/</h2></th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>Build ID</td>
       <td>{{ additionalInfo['buildID'] }}</td>
      </tr>
      <tr>
       <td>Git hash</td>
       <td>{{ additionalInfo['gitHash'] }}</td>
      </tr>
      <tr>
       <td>Branch</td>
       <td>{{ additionalInfo['branch'] }}</td>
      </tr>
      {% if 'testName' in additionalInfo %}
      <tr>
       <td>Test name</td>
       <td>{{ additionalInfo['testName'] }}</td>
      </tr>
      {% end %}
     </tbody>
    </table>
   </div>
   <div id="test-selection">
     <form action="/report" method="get">
     <input value="{{ additionalInfo['buildID'] }}" name="buildID" type="hidden">
     <input value="{{ additionalInfo['gitHash'] }}" name="gitHash" type="hidden">
     <div class="table-responsive">
      <table class="table table-striped">
       <thead>
        <tr>
         <th>Select Test Name</th>
        </tr>
       </thead>
       <tbody>
       <tr>
        <td>
         <select class="form-control" name="testName">
         {% for testName in additionalInfo['testNames'] %}
          <option value="{{ testName }}">{{ testName }}
          </option>
         {% end %}
         </select>
        </td>
       </tr>
       <tr>
        <td>
         <button type="submit" class="btn btn-default">Select!</button>
        </td>
       </tr>
      </tbody>
     </table>
    </div>
   </form>
  </div>
  <div class="main">
   <div class="table-responsive">
    <table class="table table-striped">
     <thead>
      <tr>
      <th>Directory</th>
      <th>Line Coverage</th>
      <th>Line Coverage %</th>
      <th>Function Coverage</th>
      <th>Function Coverage %</th>
      </tr>
     </thead>
     <tbody>
      {% for key in dirResults.keys() %}
      <tr>
       <td><a href="/data?buildID={{ url_escape(additionalInfo['buildID']) }}&gitHash={{ url_escape(additionalInfo['gitHash']) }}&dir={{ url_escape(key) }}{% if 'testName' in additionalInfo %}&testName={{ url_escape(additionalInfo['testName'])}}{% end %}">{{ key[additionalInfo['clip']:] }}</a></td>
       {% if 'lineCount' in dirResults[key] %}
       <td>{{ dirResults[key]['lineCovCount'] }}/{{ dirResults[key]['lineCount'] }}</td>
       <td>{{ dirResults[key]['lineCovPercentage'] }}</td>
       {% else %}
       <td>0 / 0</td> 
       <td>0.0</td>
       {% end %}
       {% if 'funcCount' in dirResults[key] %}
       <td>{{ dirResults[key]['funcCovCount'] }}/{{ dirResults[key]['funcCount'] }}</td>
       <td>{{ dirResults[key]['funcCovPercentage'] }}</td>
       {% else %}
       <td>0 / 0</td>
       <td>0.0</td>
       {% end %}
      </tr> 
      {% end %}
     </tbody>
    </table>
   </div>
{% end %}
