{% extends "fileLayout.html" %}
{% block header %}
        <title> Coverage Data for {{ additional_info['file_name'] }} </title>
        <link rel="stylesheet" type="text/css" href="/style">
{% end %}
{% block body %}
    {% autoescape None %}
    {{ additional_info['file_content'] }}
{% end %}
{% block footer %}
    <script>
        var xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/data?build_id={{ additional_info['build_id'] }}&git_hash={{ additional_info['git_hash'] }}&file={{ additional_info['file_name'] }}&counts=true{% if 'test_name' in additional_info %}&test_name={{ additional_info['test_name'] }}{% end %}", false);
        xmlHttp.send(null);
        result = JSON.parse(xmlHttp.responseText);
        var coveredLines = [];
        var uncoveredLines = [];
        for (key in result["counts"]) {
            lineno = key;
            if (result["counts"][key] > 0) {
                coveredLines[coveredLines.length] = "line" + lineno;
            }
            else {
                uncoveredLines[uncoveredLines.length] = "line" + lineno;
            }
        }

        for (i = 0, len = coveredLines.length; i < len; i++) {
            document.getElementById(coveredLines[i]).style.backgroundColor = "DCF2A5";
        }

        for (i = 0, len = uncoveredLines.length; i < len; i++) {
            document.getElementById(uncoveredLines[i]).style.backgroundColor = "F2A5A5";
        }
        var countsString = "";
        
        for (i = 1, len = {{ additional_info['line_count'] }}; i <= len; i++) {
            if (i.toString() in result["counts"]) {
                countsString += result["counts"][i.toString()];
                countsString += "\n";
            }
            else {
                countsString += " \n";
            }
        }
        $(document).ready(function(){
                $('table.highlighttable').find('tr').each(function(){
                    $(this).find('td').eq(0).before('<td class="linenos"><div class="linenodiv"><pre>' + countsString + '</pre></div></td>');
                    });
                });

    </script>
{% end %}
