<html>
 <head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>            
   
  <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="/static/mongostrap.min.css">
  <script>
     $(window).resize(function () { 
        $('body').css('padding-top', parseInt($('#nav').css("height"))+10);
        });

     $(window).load(function () { 
        $('body').css('padding-top', parseInt($('#nav').css("height"))+10);        
        });
  </script>
  <style>
table.highlighttable {
    height: auto;
    position: absolute;
}
table, div.fileTable {
    width: 100%;
    min-width: 1400px;
    overflow-x: scroll;
}

  </style>
  {% block header %}{% end %}
 </head>
 <body>
 <div id="nav" class="navbar navbar-inverse navbar-fixed-top">

     <div class="navbar-header">
         <a class="navbar-brand" href="/report">MongoDB Code Coverage</a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" 
             data-target="#navbar-collapse-content">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>
     </div>
 </div>
  <div class="fileTable">
   <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
       <th><h2>File</h2></th>
       <th><h2>{{ additional_info['file_name'] }}</h2></th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>Build ID</td>
       <td>{{ additional_info['build_id'] }}</td>
      </tr>
      <tr>
       <td>Git hash</td>
       <td>{{ additional_info['git_hash'] }}</td>
      </tr>
      <tr>
       <td>Branch</td>
       <td>{{ additional_info['branch'] }}</td>
      </tr>
      {% if 'test_name' in additional_info %}
      <tr>
       <td>Test name</td>
       <td>{{ additional_info['test_name'] }}</td>
      </tr>
      {% end %}
     </tbody>
    </table>
  </div>
   <div class="container-fluid">
     <div class="span12">
         {% block body %}{% end %}
     </div>
 </div>
 </div>
 </body>
 {% block footer %}{% end %}
</html>
